/* 消除默认样式 */
a:-webkit-any-link {
	text-decoration: none;
}
select {
	height: 2em;
	width: 13em;
}
::-webkit-scrollbar {/*滚动条整体样式*/
	width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 0px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 0;
	background: rgba(0,0,0,0.1);
}

/*ajax遮罩*/
#loading {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0F0F0F;
	opacity: .2;
}
#loading img {
	position: absolute;
	top: 50%;
	left: 50%;
}


/*navbar*/
.top-bar {
	margin-bottom: 3px;
}
.logo {
	margin-left: -15px;
}
.logo>img {
	width: 60px;
	height: 60px;
}
.navbar-content {
	height: 4em;
}

/* navbar右边操作列 */
.navbar-rightOperations {
	height: 100%;
	float: right;
	display: flex;
	align-items: center;
}
#logout {
	width: 22px;
    height: 22px;
	display: block;
	cursor: pointer;
	background-image: url('./img/logout.svg')
}


/*侧栏菜单*/
.sidebar {
	height: calc(100vh - 4.5em);
	background: rgb(100,100,100);
}
.sidebar-menu > ul {
	margin-bottom: 0px;
}
.sidebar-menu .list-group-item {
	border-radius: 0px;
	font-size: 17px;
}
.menu-first {
	margin-left: -15px;
	margin-right: -15px;
}
.menu-first > .list-group .list-group-item {
	color: #fff;
	cursor: pointer;
	background: rgb(73,73,73);
	border-color: rgb(100,100,100);
}
.menu-second > .list-group .list-group-item{
	text-indent: 1em;
	background: rgba(73,73,73,.7);
}

/* 高亮菜单 */
.list-group > .activeMenu > .list-group-item{
	background-color: #6994e2;
}


/* 主要内容区 */
.main {
	height: calc(100vh - 4.5em);
}
.main-breadcrumb {
	height: 7%;
}
#main-content {
	height: 93%;
	overflow-y: auto;
	padding-bottom: 2em;
}

/*bootstrap重设*/
.modal-header, .modal-footer {
	padding: 10px;
}

.form-inline > .form-group {
	margin: 0 1em 1em 0;
}

.form-inline > .btn {
	vertical-align: top;
}

/* 修复新版bootstrap多层模态框问题 */
.modal-backdrop {
	z-index: 1050;
}
/* 修复多层模态框关闭后导致下层不能滚动 */
.modal {
	overflow-y: auto;
}


/* dataTables */
.table > tbody > tr > td, th {
	text-align: center;
	max-width: 200px;
	overflow: hidden;
    text-overflow: ellipsis;
}

.btn-handle {
	margin: .5em;
}


/* 页面布局 */
.g_searchField {
	margin: 1em 0 0 1em;
}
.g_operatedField {
	margin-left: 1em;
}


/* Toast组件 */
.toast {
	width: 16em;
	height: 8em;
	position: absolute;
	right: 6%;
	top: 10%;
	z-index: 9999;
	border-radius: .5em;
	padding: 1em;
	background-color: #8bd2f5;
}